.DS_Store
*.opensdf
*.sdf
*.suo
httpd.xcodeproj/xcuserdata/
httpd.xcodeproj/project.xcworkspace/xcuserdata/
httpd.xcodeproj/project.xcworkspace/xcshareddata/
Debug/
httpd/Debug/
Release/
httpd/Release/
